<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Fill in the MadLibs fields!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the fields below to make a super fun MadLibs story!</h1>

    <form action="/story" method="post">
     <label for="sillyName">silly name</label>
     <input id="sillyName" name="sillyName" type="text">

     <label for="unrealisticProfession">unrealistic profession</label>
     <input id="unrealisticProfession" name="unrealisticProfession" type="text">

     <label for="country">country</label>
     <input id="country" name="country" type="text">

     <label for="anotherSillyName">another silly name</label>
     <input id="anotherSillyName" name="anotherSillyName" type="text">

     <label for="color">color</label>
     <input id="color" name="color" type="text">

     <label for="adjective">adjective</label>
     <input id="adjective" name="adjective" type="text">

     <button type="submit">Go!</button>
    </form>
  </body>
</html>
